/* GENERAL */
ul li{
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

.main-section{
    height: calc(100vh - 60px);
}


/* HEADER */
header{
    height: 60px;
}

.nav-bar-color{
    background-color: #E5E5E5;
}

.my-form-control:focus{
    box-shadow: none;
}

.mobile-logo span img{
    max-width: 50px;
}


/* ASIDE */
.aside-background-image{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}


/* MAIN */
.header-main{
    background-color: #1B72E8;
    height: 110px;
}

.header-main .pills{
    background-color: #165BBA;
}

.offcanvas{
    --bs-offcanvas-width: 50%;
}

.img-table img{
    max-width: 25px;
    padding-right: 5px;
}